body{
    color:white;
    background-image: url("https://media-cldnry.s-nbcnews.com/image/upload/newscms/2018_30/2510766/180726-earth-atmosphere-space-station-ew-553p.JPG");
    background-size: cover;
}

